<!-- Template visualizzato quando i cookie o javascript sono disabilitati -->

<div>
    <h3 style="padding-top: 20%;" align="center">You don't have Cookies enabled. Please enable it in your browser settings to use the App.</h3>
    <img style="margin: auto; width: 50%; display: block;" src="img/dinosaur.jpg" alt="there was a dinosaur">
</div>
<style type="text/css">
    .my-header,
    .row {
        display: none !important;
    }

    .container {
        background-color: #f5f5f5 !important;
    }
</style>